.container{
    border: 1px black solid;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows:  65px 160px 250px;
   /*grid-auto-rows:100px;*/
   gap: 5px 5px;
    grid-template-areas: 
    "b1 b1 b1" 
    "b2 b2 b3"
    "b4 b5 b3" ;
    
   /* grid-template-rows: 50px  300px 200px 50px;
    gap: 10px;
    column-gap: 5px;*/
}
#box-1{
    grid-area: b1;
}
#box-2{
    grid-area: b2;
}
#box-3{
    grid-area: b3;
}
#box-4{
    grid-area: b4;
}
#box-5{
    grid-area: b5;
}
.box{
    border: 1px solid blueviolet;
    background-color: tomato;
    
}
